# Python
__pycache__/
*.pyc

# Virtual env
.venv/
env/

# ML artifacts
mlruns/
models/
data/processed/

# Mac files
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Large raw data (DO NOT PUSH)
data/raw/
# macOS finder icon artifacts
Icon?
.DS_Store
