# ----------------------
# Python
# ----------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# ----------------------
# Virtual environments
# ----------------------
.venv/
env/
venv/

# ----------------------
# Processed data (reproducible, not versioned)
# ----------------------
data/processed/

# ----------------------
# Raw data handled by DVC (never by git)
# ----------------------
data/raw/

# ----------------------
# macOS garbage (very important)
# ----------------------
.DS_Store
**/.DS_Store

Icon?
**/Icon?

# ----------------------
# Jupyter
# ----------------------
.ipynb_checkpoints/

# ----------------------
# Logs / temp
# ----------------------
*.log
*.tmp